a.yase:link {
    color: #3e97df;
    text-decoration: none;
}
i.icon-point{
padding-left: 15px;
}

.clear5{
	height: 5px;
}

.clear10{
	height: 10px;
}

.clear15{
	height: 15px;
}

/* 查询控件 css 开始 */
#search ul{
	float: left;
	width: 100%;
	margin-left: -50px;
}

#search ul li{
	list-style-type:none;
	float: left;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
}  

.searchLeft {
    float: left;
    padding-left: 3px;
    width: 77px;
    font-size:14px;
    height: 30px;
    margin-left: 10px;
    text-align: right;
}

.searchRight {
    float: left;
    padding-left: 3px;
    width: 170px;
    height: 30px;
}

/* 查询控件 css 结束 */