<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysuser.dao.common.CommonDao">
	<resultMap id="searchSetMap" type="com.sysuser.model.common.SearchSet">
		<id column="function_key" property="functionKey" />
		<result column="field_name" property="fieldName" />
		<result column="field_caption" property="fieldCaption" />
		<result column="tag_type" property="tagType" />
		<result column="dict_key" property="dictKey" />
		<result column="seq_no" property="seqNo" />
		<result column="width" property="width" />
	</resultMap>
	
	
	 <resultMap type="com.sysuser.model.common.Tree" id="treeModel">
          <id column="id" property="id"/>
          <result column="text" property="text"/>
          <collection column="id" property="children" javaType="java.util.ArrayList" ofType="com.sysuser.model.common.Tree" select="getChildrenTree"/>
      </resultMap>
      
      <resultMap id="NextTreeResultMap" type="com.sysuser.model.common.Tree">
			<result column="id" property="id"/>
			<result column="text" property="text"/>
			<collection column="id" property="children" javaType="java.util.ArrayList"
			ofType="com.sysuser.model.common.Tree" select="getChildrenTree"/>
	 </resultMap>
	 
	 <resultMap type="com.sysuser.model.common.Select" id="selectModel">
          <id column="id" property="id"/>
          <result column="text" property="text"/>
          <result column="selected" property="selected"/>
      </resultMap>
	
	<select id="getSearchListByfunctionKey" resultMap="searchSetMap">
	    select * from search_set t 
		<where>
			<if test="key != null and key != ''">
				t.function_key = #{key}
			</if>
		</where>
		order by t.seq_no
	</select>
    
    <select id="getTree" resultMap="treeModel">
        select cd.code as id,cd.name as text from const_dictionary cd where cd.key=#{dictkey} and cd.parent_code=0 order by cd.seq_no
    </select>
    
    <select id="getChildrenTree" resultMap="NextTreeResultMap">
        select cd.code as id,cd.name as text from const_dictionary cd where cd.parent_code=#{id} order by cd.seq_no
    </select>
    
    <select id="getSelectList" resultMap="selectModel">
        select cd.code as id,cd.name as text from const_dictionary cd where cd.key=#{dictkey} order by cd.seq_no
    </select>

</mapper>