<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sysuser.dao.SysMenuDao">
	<resultMap id="menuMap" type="com.sysuser.model.sys.SysMenu">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="url" property="url" />
		<result column="parent_id" property="parentId" />
		<result column="sort" property="sort" />
		<result column="remark" property="remark" />
		<result column="icon" property="icon" />
		
		 <!-- 指定对应的集合对象关系映射
            property：将数据放入SysMenu对象中的sysUserRole中
            ofType：指定sysAuthorities属性的泛型类型
         -->
        <collection property="sysAuthorities" ofType="com.sysuser.model.sys.SysAuthoritie">
            <id column="auth_id" property="id"/>
            <result column="auth_name" property="name" />
            <result column="display_name" property="displayName" />
        </collection>
	</resultMap>

	<!-- 获取menu列表 -->
	<select id="menusList" resultMap="menuMap">
	<![CDATA[select * from sys_menu]]>
		<where>
			<if test="menuId != null and menuId != ''">
				id = #{menuId} or parent_id = #{menuId}
			</if>
		</where>
	    <![CDATA[ order by parent_id,id ]]>
		<if test="pageSize != null and start != null ">
			limit #{start},#{pageSize}
		</if>
	</select>
	<!-- 获取user列表的总量 -->
	<select id="menusSize" resultType="Integer">  
	    <![CDATA[select count(*) from sys_menu]]>
	    <where>
			<if test="menuId != null and menuId != ''">
				id = #{menuId} or parent_id = #{menuId}
			</if>
		</where>
	</select>
	<!-- 新建用户信息 -->
	<insert id="insertMenu">
		insert into sys_menu
		(name,url,parent_id,sort,remark,icon)
		values
		(#{menuEntity.name},#{menuEntity.url},#{menuEntity.parentId},#{menuEntity.sort},#{menuEntity.remark},#{menuEntity.icon})
	</insert>
	<!-- 更新用户信息 -->
	<update id="updateMenu">
		update sys_menu set
		name = #{menuEntity.name},
		url = #{menuEntity.url},
		parent_id = #{menuEntity.parentId},
		sort = #{menuEntity.sort},
		remark =
		#{menuEntity.remark},
		icon = #{menuEntity.icon}
		<where>
			id = #{menuEntity.id}
		</where>
	</update>
	<!-- 删除用户信息 -->
	<delete id="deleteMenus">
		delete from sys_menu
		<where>
			<if test="groupId !=null">
				id in
				<foreach collection="groupId" item="item" index="index"
					open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</delete>

	<select id="getMenuListById" resultMap="menuMap">
		select * from sys_menu
		<where>
			id in
			<foreach collection="ids" item="item" index="index" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</where>
		order by sort
	</select>


    <!-- 根据角色获取有权限的菜单列表 -->
	<select id="getSysMenuList" resultMap="menuMap">
	    select * from sys_menu sm where exists(select 1 from sys_resource_authoritie sra 
	    left join sys_role_authoritie roleauth on sra.authoritie_id=roleauth.authoritie_id 
	    where sra.resource_id=sm.id 
	    <if test="roleId != null and roleId != null ">
	        and roleauth.role_id=#{roleId}
		</if>
	    )
	</select>
	
	 <!-- 根据菜单ID获取菜单对象 -->
	<select id="getSysMenuById" resultMap="menuMap">
		select * from sys_menu
		<where>
			<if test="id != null and id != null ">
		       id=#{id}
			</if>
		</where>
	</select>
	
    <!-- 根据权限名称获取url -->
	<select id="getResourcesListByAuth" resultMap="menuMap">
	<![CDATA[SELECT * FROM sys_menu sm 
	       LEFT JOIN sys_resource_authoritie sra ON sm.`id`=sra.`resource_id` 
	       LEFT JOIN sys_authoritie sa ON sra.`authoritie_id`=sa.`id` 
    ]]>
		<where>
			<if test="auth != null and auth != ''">
				sa.`name`=#{auth}
			</if>
		</where>
	</select>
	
	<!-- 获取所有需要权限的菜单资源 -->
	<select id="getResourcesList" resultMap="menuMap">
	<![CDATA[SELECT sm.*,sa.id as auth_id,sa.name as auth_name,sa.display_name as display_name FROM sys_menu sm 
	       LEFT JOIN sys_resource_authoritie sra ON sm.`id`=sra.`resource_id` 
	       LEFT JOIN sys_authoritie sa ON sra.`authoritie_id`=sa.`id`  where sa.id!=''
    ]]>
	</select>
</mapper>