<head th:fragment="head(title)">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text="${title}">The awesome application</title>
    <script th:src="@{/jquery/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/juqeryEasyUI/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/juqeryEasyUI/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/juqeryEasyUI/demo.css}">
    <script th:src="@{/juqeryEasyUI/jquery.min.js}"></script>
    <script th:src="@{/juqeryEasyUI/jquery.easyui.min.js}"></script>
    <script th:src="@{/juqeryEasyUI/locale/easyui-lang-zh_CN.js}"></script>
    <script th:src="@{/juqeryEasyUI/plugins/jquery.datagrid.js}"></script>
    <script th:src="@{/jquery/jquery.form.js}"></script>
    <script th:src="@{/jquery/jquery-migrate-1.4.1.js}"></script>
    <script th:src="@{/juqeryEasyUI/Packing/SunDialog.js}"></script>
    <script th:src="@{/juqeryEasyUI/scmtip/scmtip.js}"></script>
    <link rel="stylesheet" th:href="@{/juqeryEasyUI/scmtip/scmtip.css}">
    <link rel="stylesheet" th:href="@{/common/public.css}">
</head>
